body{
    background-color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;

}
header{
    border-bottom: 4px solid rgb(152, 17, 235);
} 
h1{
    color: rgb(152, 17, 235);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 60px;   
}

main{
    background-color: rgb(213, 218, 218);
    border-left: solid 5px color(srgb rgb(70, 127, 100) green blue) 
}

footer{

    background-color: black;    
}

footer p{
    color: aliceblue;
    font-size: 15px;
    text-align: center;
   
}
